In [5]:
import sys
sys.path.append("../getData")
import bdStocks
import numpy as np

In [2]:
bd=bdStocks.getData()
dataframe=bd.getPrizesByExchange("MC")
fundamentals=bd.getFundamentalsByExchange("MC")
indice=bd.getIndexPrizes("ibex35")

Time: 03/01/2022, 17:00 Message: CSV access time 1.8535785675048828

Time: 03/01/2022, 17:00 Message: Object size 63.413051 MB

Time: 03/01/2022, 17:00 Message: BD access time 2.1390063762664795

Time: 03/01/2022, 17:00 Message: Object size 5.571425 MB

In [3]:
indice.head()

,Date,Open,High,Low,Close,Volume,Currency,indice
Date,,,,,,,,
2000-01-03,2000-01-03,11846.6,11881.8,11574.4,11610.0,60107000,EUR,ibex35
2000-01-04,2000-01-04,11499.5,11530.0,11159.8,11206.6,62539000,EUR,ibex35
2000-01-05,2000-01-05,10917.6,11068.1,10824.9,10863.1,68153000,EUR,ibex35
2000-01-07,2000-01-07,10963.4,11137.9,10882.7,11102.4,144207008,EUR,ibex35
2000-01-10,2000-01-10,11363.8,11364.3,11120.6,11173.3,133817000,EUR,ibex35

In [7]:
stocks=np.unique(fundamentals["stock"])
stocks

array(['A3M', 'ACS', 'ACX', 'ADX', 'ADZ', 'AEDAS', 'AENA', 'AGIL', 'AI',
       'AIR', 'ALB', 'ALC', 'ALM', 'ALNT', 'ALQ', 'AMP', 'AMS', 'ANA',
       'APAM', 'APPS', 'ARM', 'ATRY', 'AZK', 'BBVA', 'BKT', 'BKY', 'CABK',
       'CAF', 'CASH', 'CBAV', 'CCEP', 'CDR', 'CEV', 'CIE', 'CLNX', 'COL',
       'COM', 'DIA', 'DOM', 'EAT', 'EBRO', 'ECR', 'EDR', 'EEP', 'ELE',
       'ENC', 'ENG', 'ENO', 'EZE', 'FACE', 'FAE', 'FCC', 'FDR', 'FER',
       'GALQ', 'GCO', 'GEST', 'GRE', 'GRF', 'GRI', 'GRN', 'GSJ', 'HOME',
       'IAG', 'IBE', 'IBG', 'IDR', 'ISUR', 'ITX', 'IZER', 'LDA', 'LGT',
       'LLN', 'LOG', 'LRE', 'MAP', 'MCM', 'MDF', 'MED', 'MEL', 'MRL',
       'MTB', 'MTS', 'MVC', 'NBI', 'NEA', 'NHH', 'NTGY', 'NTH', 'NTX',
       'OLE', 'ORY', 'PHM', 'PRM', 'PRS', 'PSG', 'PVA', 'R4', 'RDM',
       'REE', 'REN', 'REP', 'RIO', 'RJF', 'RLIA', 'ROVI', 'SAB', 'SAN',
       'SCYR', 'SGRE', 'SLR', 'SPK', 'SPS', 'TEF', 'TL5', 'TLGO', 'TRE',
       'TRG', 'TUB', 'UBS', 'UNI', 'VER', 'VID', 'VIS', 'VOC', 'YGOP',
       'YVBA', 'ZOT'], dtype=object)

In [8]:
import statsmodels